* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdc1b4;
    color: #776e65;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}


.tile-2{
    background-color: #eee4fa;
}


.tile-4{
    background-color: #ede0c8;
}


.tile-8{
    background-color: #f2b179;
    color: white;
}


.tile-16 {
    background-color: #f59563;
    color: white;
}

.tile-32 {
    background-color: #f67c5f;
    color: white;
}

.tile-64 {
    background-color: #f65e3b;
    color: white;
}

.tile-128 {
    background-color: #edcf72;
    color: white;
}

.tile-256 {
    background-color: #edcc61;
    color: white;
}

.tile-512 {
    background-color: #edc850;
    color: white;
}

.tile-1024 {
    background-color: #edc53f;
    color: white;
}

.tile-2048 {
    background-color: #edc22e;
    color: white;
}



.game-info{
    margin-top: 20px;
    text-align: center;
}

.score-container{
    font-size: 24px;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f7a66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #776e65;
}